{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}

<div class="card-header"><h2 style="font-family: 'Bevan'"> Zresetowanie hasła </h2></div>
  <div class="card-body">
    {% if validlink %}
    <p> Podaj swoje hasło dwukrotnie: </p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" class="btn btn-info" style="font-family:'Bevan'" value="Zmień hasło" /></p>
    </form>
  {% else %}
    <p>Hasło niepoprawne. Prawdopodobnie, jest to spowodowane tym, że jest już używane. Podaj nowe hasło.</p>
  {% endif %}
  </div>
</div>
  
{% endblock %}