{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="card">    
    <!-- metoda post do wysyłania danych, csrf a by zabezpieczyć przed atakami -->
    <div class="text-center" style="font-family:'Bevan'">        
        {% if user.is_authenticated %}
        <p class="card-header">Dzień dobry,   {{ user.username }}</p>
        <p class="card-body"><a href="{% url 'logout' %}">Wyloguj się</a><br>
        <a href="{% url 'change_password' %}">Zmień hasło</a></p>
        {% else %}
        <p class="card-header">Nie jesteś zalogowany.</p>
        <p class="card-body"><a href="{% url 'login' %}">Zaloguj się</a><br>
        <a href="{% url 'signup' %}">Zarejestruj się</a></p>
    {% endif %}
    </div>  
</div>


{% endblock %}

